.title{
    background-color: blueviolet;
    width: 600px;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 10px;
}
/*Esto es para que se centre el texto*/
.container{
    text-align: center;
}
.imagecontainer{
    position: relative;
    display: inline-block;
    width: 500px;
    height: 400px;
}
/*Esto es más que todo para centrar un texto dentro de un cuadro*/
.bodytext{
    background-color: blueviolet;
    color: white;
    font-family: Arial, sans-serif;
    padding: 5px;
    transition: transform 0.3s;
}
/*Esto es para que los Links hacia otras páginas se alineen*/
.links{
    display: inline-block;
}
/*Esto es para que haya un pequeño espacio hacia abajo entre un texto y otro*/
.spacealtura {
    height: 50px;
}
/*Según es para una animación, pero sigue siendo infuncional*/
.bodytext:hover{
    transform: scale(1.1);
}
/*Para un cuadro de texto de color purple*/
.box{
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    opacity: 0.7; /* Ajusta la opacidad según tus preferencias */
    width: 120%; /* O ajusta el ancho según sea necesario */
    height: 120%; /* O ajusta la altura según sea necesario */
    z-index: 1; /* Asegura que el cuadro esté delante de la imagen */
}
/*Para poner la imagen dentro del cuadro color purple*/
.image{
    position: relative;
    z-index: 0; /* Asegura que la imagen esté detrás del cuadro */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
}
